.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    color: #4E47FF;
  }
  header{
    height: 151px;
    width: 1101;
  }
  
.page1{
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    padding: 4px;
    margin-top: 20px;

}
.button-sig{
    background-color: #4E47FF;
    color: #ffffff;
    border-radius: 5px;
    margin-right: 100px;
    border:0;
    height: 40px;
    cursor: pointer;
    
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: 55px;
    text-align: center;
  }
.banner{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 20px;
    
   

  }
.preview-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#f7f9fc ;
  padding: 100px ;
}
.preview-text{
    max-width: 500px;
    margin-left: 50px;
}
.see{
  font-family: raleway;
}
.explore{
  font-family: raleway;
  color:#252432 ;
  opacity: 50%;
}
.preview-image{
  border-radius: 50px;
  width: 400px;
  height: 320px;
  margin-right: 50px;
}
